{% extends "base.html" %}

{% block content %}
    
{%if courseInformation%}

    <div class="container">
        <div class="row">

            <div class = "col-sm-8">
                
                <div class="row">

                    <div class="col-sm-12"><small> SWEN {{courseInformation.Code}} </small></div>
                    <div class="col-sm-12"><h2> {{courseInformation.Name}} </h2></div>

                    <div class="col-sm-12"><p> {{courseInformation.Description}}</p></div>

                </div>
            </div>
            
            <div class = "col-sm-4">

                <br/>
                <h5> Course Options </h5>

                <div class="card">
                    <div class="card-body">
                    
                        <strong>L01 </strong><br/>
                        Instructor: Tessa King-Inniss (P) <br/>
                        CRN: 22353 <br/>
                        Credits: 3.000	 <br/>
                        Location: CHADM4 ECL <br/>
                        Date: Monday 02:10 pm - 04:00 pm <br/>
                        CAP: 15 <br/>
                        ACT: 8 <br/>
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href = "" type="button" class="btn btn-primary">Add Course</a>
                    </div>

                </div>

                <br/>

                <div class="card">
                    <div class="card-body">
                    
                        <strong>P01 </strong><br/>
                        Instructor: Tessa King-Inniss (P) <br/>
                        CRN: 22353 <br/>
                        Credits: 0.000	 <br/>
                        Location: CHADM4 ECL <br/>
                        Date: Wednesday 06:10 pm - 08:00 pm <br/>
                        CAP: 15 <br/>
                        ACT: 4 <br/>
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href = "" type="button" class="btn btn-primary">Add Course</a>
                    </div>

                </div>

            </div>


        </div>
    </div>

{% endif %}

{% endblock %}