{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class="col-sm-8">
            <div id="accordion">

                {% for course in courses %}
                <div class="card">
                <div class="card-header" id="CRN{{course.CRN}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{course.CRN}}" aria-expanded="true" aria-controls="collapse{{course.CRN}}">
                        {{course.title}}
                    </button>
                    </h5>
                </div>
            
                <div id="collapse{{course.CRN}}" class="collapse" aria-labelledby="CRN{{course.CRN}}" data-parent="#accordion">
                    <div class="card-body">
                        
                        <table class="table table-light text-left">
                            <tbody>
                            <tr>
                                <th scope="row">Associated Term</th>
                                <td>{{course.term}}</td>
                            </tr>
                            <tr>
                                <th scope="row">CRN</th>
                                <td>{{course.CRN}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{course.Status}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Assigned Instructor</th>
                                <td>{{course.Instructor}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Grade Mode</th>
                                <td>{{course.GradeMode}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Credits</th>
                                <td>{{course.Credits}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Level</th>
                                <td>{{course.Level}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Campus</th>
                                <td>{{course.Campus}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
                {% endfor %}
                
            </div> 
        </div>

        <div class="col-sm-4">

            <h5> Upcoming Course Today </h5>

            <p> Advanced Database <br/>
                9:00 AM - 11:30 AM <br/>
                Dr. Mugisa </p>

            <h5> Quick Links </h5>
            
            <ul>
                {% for links in QuickLinks %}
                    <li><a>{{links.title}}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>
</div>

{% endblock %}