
/* Admin Section */
.container-fluid-container{
    min-height:100%;
}

.sidebar{
    height: 100vh;
    margin-top: 36px;
    padding-top: 65px;
}

.btn-search-correction{
    margin-top:7px;
}

#footer{
    margin:0px;
}

.main-container{
    padding-top:80px;
}

.settings-heading{
    font-size:12px;
}
 
.sidebar{
    background: rgb(35,80,3) !important;
    color:#fff;
}

.sidebar a, .sidebar h6, .sidebar h6 span{
    color:#fff;
}

.navbar-nav-top .nav-link{
    padding:0px;
    font-size: 14px;
}

.nav-link .small{
    font-size: 10px;
}

.navbar-dark .navbar-nav .nav-link{
    color:#000;
}

.nav-tabs li a{
    padding: 10px 20px;
    background: #d6d5d5;
}

.nav-tabs li a.active{
    background: #007bff;
}

.nav-tabs li a.active{
    color:#fff;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.tab-content>.tab-pane {
    margin-top: 6px;
    background: #fff;
    padding: 20px;
    min-height: 315px;
}

.front_half{
    background: #cdded4;
    padding: 40px 40px 70px;
    margin: -10px -24px -40px;
}

.front_half h5{
    text-align: center;
    font-size: 33px;
}

.front_half p{
    text-align: center;
}

.front_half form{
    margin: 0px auto;
    width: 70%;
}