
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h5 class="card-title"> Personal Details </h5>
    <div class="form-group row col-sm-10">
      {{ form.dob.label }}<br>
      {{ form.dob }}
    </div>

    <div class="form-group row col-sm-10">
      {{ form.maritalStatus.label }}<br>
      {{form.maritalStatus}}
    </div>
    
    <h5 class="card-title"> Contact Information </h5>
    <div class="form-group row col-sm-10">
      {{ form.contactEmail.label }}<br>
      {{ form.contactEmail(size=32) }}
    </div>

    <div class="form-group row col-sm-10">
      {{ form.studentAddress.label }}<br><br>
      {{ form.studentAddress(size=300) }}
    </div>

   <div class="form-group row col-sm-10">
    {{ form.phonenum.label }}<br><br>
    {{ form.phonenum(size=32) }}
   </div>

   <div class="form-group row col-sm-10">
    {{ form.mobilenum.label }}<br><br>
    {{ form.mobilenum(size=32) }}
   </div>

   <div class="form-group row col-sm-10">
    {{ form.emergencyCon.label }}<br>
    {{ form.emergencyCon(size=32) }}
  </div>

  <div class="form-group row col-sm-10">
    {{ form.relationship.label }}<br>
    {{form.relationship}}
  </div>

  <div class="form-group row col-sm-10">
    {{ form.ecAddress.label }}<br>
    {{form.ecAddress(size=300)}}
  </div>

  <div class="form-group row col-sm-10">
    {{ form.mobilenum.label }}<br><br>
    {{ form.mobilenum(size=32) }}
   </div>

   <div class="form-group row col-sm-10">
    {{ form.mobilenum.label }}<br><br>
    {{ form.mobilenum(size=32) }}
   </div>

   <button type="button" class="btn btn-outline-success">{{ form.submit }}</button>

   <!-- <p>{{ form.submit() }}</p> -->



  

  </form>
</div>
<div class="col-sm-3">

  <h5> Upcoming Course Today </h5>

  <p> Advanced Database <br/>
      9:00 AM - 11:30 AM <br/>
      Dr. Mugisa </p>

  <h5> Quick Links </h5>
  
  <ul>
      {% for links in QuickLinks %}
          <li><a>{{links.title}}</a></li>
      {% endfor %}
  </ul>
</div>
</div>
</div>
{% endblock %}
