{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class = "col-sm-12">
            <h1> My Courses </h1>
            <p> Semester II 2019/2020 </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 programs-card">
            <div class="card">
                <div class="card-body">
                    IT Certification
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 programs-card">
            <div class="card">
                <div class="card-body">
                    Capstone Final Project I
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 programs-card">
            <div class="card">
                <div class="card-body">
                    Capstone Final Project II
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 programs-card">
            <div class="card">
                <div class="card-body">
                    Final Year Internship
                </div>
            </div>
        </div>

    


    </div>
</div>

{% endblock %}