{% extends "base.html" %}

{% block content %}
    
<div class="container min-height">
    <div class="row">

        <div class="col-sm-12">
            <h1> Academic Information </h1>
            <p> Look for courses, get your registration finalized and much more. </p>
        </div>

        {% for menuitem in menus %}
            <div class="col-sm-12 col-md-6 col-lg-4 programs-card">
                <div class="card">
                    <div class="card-body main-card-wrap">
                    <a href = "{{menuitem.link}}"><h5 class="card-title">{{menuitem.title}}</h5></a>
                    <p class="card-text">{{menuitem.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}