{% extends "baseadmin.html" %}

{% block content %}

<div class = "front_half" style = "text-align:center;margin:-10px -24px 40px">
    
    <h5> {{student_data.name}} </h5>
    <p> Last Logged In {{student_data.email}} </p>
    <small> Last Logged In {{student_data.lastlogin}} </small>

</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6"> 
                   <br/>
            <h5> Personal Information </h5>
             {% for detail in personal_info %}
                <p>{{detail.gender}}</p>
             {% endfor %}
                <br><br>
  


                <h2> Registered Courses </h2>
                 
                {% for course in registered_courses %}

                    <p> {{ course.courseName }} <br/>
                    <small> <b>Registered:</b> {{course.registered}} </small><br/>
                    <small> <b>Actions:</b> <a href = "/admin/deregister/{{course.courseID}}/{{student_data.UserID}}" style = "color:red"> Deregister Student </a> </small><br/></p>

                {% endfor %}
                
                

            </div>
            <div class="col-sm-6">

                <br/>
            <h5> Curriculum Information </h5>
            <br/>
            <strong>Current Program</strong>
            <p>Bachelor of Science</p>
            <br/>
           
            <table class="table table-light text-left table-hover"
                      id="table"
                      data-toggle="table"
                      data-height="460"
                      data-pagination="true">
                <tbody>
                    {% for info in UserProfile %}
                    <tr>
                        <th scope="row">Level</th>
                        <td>{{info.Level}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Program</th>
                        <td>{{info.Program}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Admit Term</th>
                        <td>{{info.AdmitTerm}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Admit Type</th>
                        <td>{{info.AdmitType}}</td>
                    </tr>

                    <tr>
                        <th scope="row">College</th>
                        <td>{{info.College}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Campus</th>
                        <td>{{info.Campus}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Major</th>
                        <td>{{info.Major}}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>

            </div>
        </div>
    </div>
            
{% endblock %}
