{% extends "baseadmin.html" %}

{% block content %}

<div class = "front_half">
    <h5> Students Grade </h5>
    <p> Select a student to update grades. </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

</div>

<table class="table table-light text-left table-hover">
    <thead>
        <th> Name </th>
        <th> Student Registered </th>
        <th> Actions </th>
    </thead>
    <tbody>
        
        {% for student in student_registered %}
        <tr>
            <td> {{student.info.name}} <br/> <small>{{student.studentID}}</small> </td>
            <td> {{student.registered}}</td>
            <td> <a href = "/admin/grades/{{courseid}}/{{student.studentID}}"> View Student </a> </td>
            
            <!--
            {% if student.graded %}

                {% if student.graded.ApprovalStatus == 0 %}
                <td> <a href = "/admin/grades/approve/{{student._id}}/{{courseid}}/{{student.studentID}}"> Approve Grade </a> </td>
                {% endif %}

                
                    {% if student.graded.ApprovalStatus == 1 %}
                    <td> - </td>
                    <td> Grade Approved </td>
                    {% elif student.graded.ApprovalStatus == 0 %}
                    <td>
                        Awaiting Approval<br/>
                        <small>Course: {{student.graded.CourseGrades.course}} &nbsp; Exam: {{student.graded.CourseGrades.exam}} </small>
                    </td>
                    {% endif %}
                

            {% else %}
                <td> <a href = "/admin/grades/{{courseid}}/{{student.studentID}}"> Add Grade </a> </td>
                <td> No Grade Available </td>
            {% endif %}
            -->
            
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}