{% extends "baseadmin.html" %}

{% block content %}


<div class = "front_half">
    <h5> Queries </h5>
    <p> List of queries from students </p>

    <form action = "/admin/queries" method = "POST">
        <div class="form-row">

            {{ form.hidden_tag() }}

            <div class="col-sm-10">

                <label>{{ form.name.label }} </label>
                {{ form.name(size=32, class = "form-control") }}

            </div>

            <div class="col">
                <label> &nbsp;</label><br/>
                {{ form.submit( class="btn btn-primary btn-search-correction") }}
            </div>

        </div>
    </form>

    {% if searchName != "" %} 
    <br/>
    <p> You searched for <b>{{searchName}}</b>. Showing {{search_count}} queries. <a href = "/admin/queries"> View all Queries </a> </p>
    {% else %}
    <br/>
    <p> Showing {{search_count}} queries.  </p>
    {% endif %}

</div>

<table class="table table-light text-left table-hover"   
  id="table"
  data-toggle="table"
  data-height="460"
  data-pagination="true"
  data-url="json/data1.json">
      
    <thead>
        <th> Name </th>
        <th> Issue Type </th>
        <th> Description </th>
        <th>  </th>
    </thead>
    <tbody>
        {% for query in collection %}
        
        <tr>
            <td><a href = "/admin/quer/{{query._id}}">{{query.studentName}}</a></td>
            <td>{{query.studentIssues}}</td>
            <td>{{query.queryDesc}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
            
{% endblock %}
