{% extends "baseadmin.html" %}
    {% block content %}


    <div class="container">
        <br/>
        <div class="row">
            <h2 class="col-sm-12"> Dashboard <h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            

            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Queries</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Outstanding Queries</h6>
                                <a href="/admin/queries" class="card-link">View List</a>
                            </div>
                            <div class="col-sm-4">
                                <h1>{{queries_count}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Events</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Upcoming Events</h6>
                                <a href="/admin/events" class="card-link">View List</a>
                            </div>
                            <div class="col-sm-4">
                                <h1>{{events_count}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

             
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Transcript Request</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Outstanding Request</h6>
                                <a href="/admin/transcripts" class="card-link">View List</a>
                            </div>
                            <div class="col-sm-4">
                                <h1>{{transcripts_count}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br/><br/>

    <div class="container">
        <div class="row">
            

            <div class="col-sm-6">
        
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#new">New</a></li>
                    <li><a data-toggle="tab" href="#progress">In Progress</a></li>
                    <li><a data-toggle="tab" href="#overdue">Over Due</a></li>
                </ul>

                <div class="tab-content">
                    <div id="new" class="tab-pane fade in active show">
                        
                        {% for query in queries %}
                            <li class="list-group-item"> {{query.studentIssues}} <br/> {{query.studentName}} - {{query.queryDesc}} </li>
                        {% endfor %}

                    </div>
                    <div id="progress" class="tab-pane fade">
                        <h3>In Progress</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="overdue" class="tab-pane fade">
                        <h3>Over Due</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
 
                <div class="card border-light mb-3">
                    <div class="card-header">Activity Timeline</div>
                    <ul class="list-group list-group-flush">
                        {% for log in userLogs %}
                            <li class="list-group-item"> <img src = "{{ url_for('static', filename='images/user-avatar.png') }}" width="22" alt=""> User {{log.user}} accessed {{log.location}} at {{log.timestamp}} </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>
    </div>
    
{% endblock %}
