{% extends "baseadmin.html" %}

{% block content %}

<div class = "front_half">
    
    <h5> Students </h5>
    <p> List of Students </p>


    <form action = "/admin/students" method = "POST">
        <div class="form-row">

            {{ form.hidden_tag() }}

            <div class="col-sm-10">

                <label>{{ form.name.label }} </label>
                {{ form.name(size=32, class = "form-control") }}

            </div>

            <div class="col">
                <label> &nbsp;</label><br/>
                {{ form.submit( class="btn btn-primary btn-search-correction") }}
            </div>

        </div>
    </form>

    {% if searchName != "" %}
    <br/>
    <p> You searched for <b>{{searchName}}</b>. Showing {{search_count}} students. <a href = "/admin/students"> View all Students </a> </p>
    {% else %}
    <br/>
    <p> Showing {{search_count}} students.  </p>
    {% endif %}

</div>

        <table class="table table-light text-left table-hover"
                  id="table"
                  data-toggle="table"
                  data-height="460"
                  data-pagination="true">
            <thead>
                <th> Student ID </th>
                <th> Student Name </th>
                <th> Email </th>
            </thead>
            <tbody>
                {% for user in collection %}
                <tr>
                    <td><a href = "/admin/student/{{user._id}}">{{user.UserID}}</a></td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
            
{% endblock %}
