{% extends "baseadmin.html" %}

{% block content %}

<div class = "front_half">
    <h5> Students Grade </h5>
    <p> Select a student to update grades. </p>

</div>

<table class="table table-light text-left table-hover">
    <thead>
        <th> Name </th>
        <th> Student </th>
        <th> Actions </th>
    </thead>
    <tbody>
        {% for student in collection %}
        <tr>
            <td> {{student.studentID}} </td>
            <td>Year {{student.registered}}</td>
            <td> <a href = "/admin/grades/courseid/{{student.studentID}}/"> Add Grade </a> </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
            
{% endblock %}