{% extends "baseadmin.html" %}

{% block content %}


<div class = "front_half">

</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <h3> Insurance Details </h3>
            <ul class="list-group">
            <li class="list-group-item"><b>Insurance Period</b> {{insurance_details.insurancePeriod}}</li>
            <li class="list-group-item"><b>Payment Receipt</b> {{insurance_details.payment}} style = "margin:10px 20px;width:250px"</li>
            <li class="list-group-item">
                   <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {{ insuranceform.hidden_tag() }}
                              <div class="form-group">
                                <b>{{ insuranceform.insuranceStatus.label }} </b
                                {{ insuranceform.insuranceStatus(value=insurance_details.insuranceStatus) }}
                            </div> 
                             <p>{{ form.submit( class="btn btn-success" ) }}</p>
                    </form>
              </li>
             <ul>
            
            </div>
        </div>
                <div class="col-sm-6"></div>
    </div>
            
{% endblock %}
