<html>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

    <head>
      {% if title %}
      <title>{{ title }} - UWICIIT System</title>
      {% else %}
      <title>Welcome to UWICIIT System</title>
      {% endif %}
    </head>

    <body>

    <!-- Just an image -->
    <nav class="navbar navbar-light bg-white">
      
      <div class="float-left col-sm-8">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='images/UWICIITLogo.PNG') }}" width="233" alt="">
        </a>
      </div>

      <div class="float-right userdetails col-sm-4">
        <div class="row">
        <div class="col-sm-8">
          <p class="boldme"> Good Morning {{user}} </p>
          <p> It's 49 0 Outside today, you should wear more clothes </p>
        </div>

        <div class="col-sm-2">
          <img src = "{{ url_for('static', filename='images/user-avatar.png') }}" width="42" alt="">
        </div>
      </div>
      </div>

    </nav>

    <nav class="nav system-main-menu-nav">

      {% if menu_type == 1 %} 
        <a class="nav-link active" href="/">Personal Information</a>
      {% else %}
        <a class="nav-link" href="/">Personal Information</a>
      {% endif %}

      {% if menu_type == 2 %} 
        <a class="nav-link active" href="/academic-information">Academic Information</a>
      {% else %}
        <a class="nav-link" href="/academic-information">Academic Information</a>
      {% endif %}

      {% if menu_type == 3 %} 
        <a class="nav-link active" href="/events">Event Information</a>
      {% else %}
        <a class="nav-link" href="/events">Event Information</a>
      {% endif %}
      
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>    
   
    
      {% block content %}{% endblock %}
   
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      
    <script type="text/javascript"
      src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>

    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss'
      });
    </script>

    <div id = "footer" class="row"><div class="container">
      &copy; Copyright 2020 UWICIIT System
    </div></div>

    </body>
</html>