{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class = "col-sm-8 offset-sm-2">
            
            <p> You searched for the course "{{keyword}}" </p> 
            
            <h5> Course List </h5>
            <p> Here is a list of courses associated with your current degree program. </p>

            <table class="table table-light text-left table-hover">
                <thead>
                    <th> Course Name </th>
                    <th> Course Code </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    {% for course in studentData %}
                    <tr>
                        <td>{{course.Name}}</td>
                        <td>{{course.Code}}</td>
                        <td> <a href = "/courses/detail/{{course.CRN}}" class="btn btn-sm btn-primary"> View </a> </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}