{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class = "col-sm-10 offset-sm-1">
            
            <div class="row">
                <div class = "col-sm-6">
                
                    {% if error: %} 
                    <div class="login-error alert alert-danger" role="alert">
                        <strong> Oops, something went wrong! </strong><br/>
                        {% print error %}  
                    </div>
                    {% endif %} 

                    <form action="" method="POST" novalidate>
                        
                        {{ form.name.label }}<br/>
                        <div class="input-group mb-3">
                            {{ form.name(size=32, class="form-control") }}<br>

                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}

                            <div class="input-group-append">
                                {{form.submit( class="btn btn-outline-success" )}}
                            </div>

                        </div>
                          
                    </form>
                </div>
            </div>
            
            <h5> Quick Course List </h5>
            <p> Here is a quick list of courses associated with your current degree program. </p>

            <table class="table table-light text-left table-hover">
                <thead>
                    <th> Course Name </th>
                    <th> Course Code </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    {% for course in UserCourses %}
                    <tr>
                        <td>{{course.Name}}</td>
                        <td>{{course.Code}}</td>
                        <td> <a href = "/courses/detail/{{course.CRN}}" class="btn btn-sm btn-primary"> View </a> </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}