{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class = "col-sm-8">
            
            <p> You searched for the course "{{keyword}}" </p> 
            
            <h5> Course List </h5>
            <p> Here is a list of courses associated with your current degree program. </p>

            <table class="table table-light text-left table-hover">
                <thead>
                    <th> Course Name </th>
                    <th> Course Code </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    {% for course in studentData %}
                    <tr>
                        <td>{{course.Name}}</td>
                        <td>{{course.Code}}</td>
                        <td> <a href = "/courses/detail/{{course.CRN}}" class="btn btn-sm btn-primary"> View </a> </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <div class="col-sm-4">

            <h5> Upcoming Course Today </h5>

            <p> Advanced Database <br/>
                9:00 AM - 11:30 AM <br/>
                Dr. Mugisa </p>

            <h5> Quick Links </h5>
            
            <ul class = "quicklinks">
                {% for i in range(0,4): %}
                    <li><a href = "{{ QuickLinks[i][0] }}">{{ QuickLinks[i][1] }}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>
</div>

{% endblock %}