{% extends "base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">

        <div class = "col-sm-8">
           
            <div class="alert alert-info fade show" role="alert">
                
                Register for your courses today 

                <a href = "/register" class="btn btn-sm float-right">
                    Get Started Now
                </a>

            </div>

        </div>

        <div class = "col-sm-8">
            
            <div class="row">
                <div class = "col-sm-6">
                
                    {% if error: %} 
                    <div class="login-error alert alert-danger" role="alert">
                        <strong> Oops, something went wrong! </strong><br/>
                        {% print error %}  
                    </div>
                    {% endif %} 

                    <form action="" method="POST" novalidate>
                        
                        <div class="input-group mb-3">
                            {{ form.name.label }}<br/>
                            {{ form.name(size=32, class="form-control") }}<br>

                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}

                            <div class="input-group-append">
                                {{form.submit( class="btn btn-outline-success" )}}
                            </div>

                        </div>
                            
                       <!-- Find by Name
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Find a Course" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
                            </div>
                        </div>-->

                    </form>
                </div>
            </div>
            
            <h5> Recently Viewed </h5>
            <p> Here is a quick list of courses associated with your current degree program. </p>

            <table class="table table-light text-left table-hover">
                <thead>
                    <th> Course Name </th>
                    <th> Course Code </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    {% for course in UserCourses %}
                    <tr>
                        <td>{{course.Name}}</td>
                        <td>{{course.Code}}</td>
                        <td> <a href = "/courses/detail/{{course.CRN}}" class="btn btn-sm btn-primary"> View </a> </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            
            <br/>
            <h5> Curriculum Information </h5>
            <br/>
            <strong>Current Program</strong>
            <p>Bachelor of Science</p>
            <br/>
            <table class="table table-light text-left table-hover">
                <tbody>
                    {% for info in UserProfile %}
                    <tr>
                        <th scope="row">Level</th>
                        <td>{{info.Level}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Program</th>
                        <td>{{info.Program}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Admit Term</th>
                        <td>{{info.AdmitTerm}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Admit Type</th>
                        <td>{{info.AdmitType}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Catalog Term</th>
                        <td>{{info.CatalogTerm}}</td>
                    </tr>

                    <tr>
                        <th scope="row">College</th>
                        <td>{{info.CatalogTerm}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Campus</th>
                        <td>{{info.CatalogTerm}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Major</th>
                        <td>{{info.Major}}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <div class="col-sm-4">

            <h5> Upcoming Course Today </h5>

            <p> Advanced Database <br/>
                9:00 AM - 11:30 AM <br/>
                Dr. Mugisa </p>

            <h5> Quick Links </h5>
            
            <ul class = "quicklinks">
                {% for i in range(0,4): %}
                    <li><a href = "{{ QuickLinks[i][0] }}">{{ QuickLinks[i][1] }}</a></li>
                {% endfor %}
            </ul>

        </div>

    </div>
</div>

{% endblock %}