{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">

              
    <div class = "row">
        <div class = "col-sm-12">
            <h1>Create a New Event</h1>
            <h6 class="font-weight-light">Fill out the information below. </h6>
        </div>
    </div>
    
    <br/>
          
          {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
        <form action="" method="post" enctype="multipart/form-data" >

            {{ form.hidden_tag() }}

            <div class="form-group row col-sm-10">
                {{ form.name.label }} <br>
                {{ form.name(size=32) }}
            </div>
            
            <div class="form-group row col-sm-10">
                {{ form.eventDate.label}}<br>
                {{ form.eventDate()}}
            </div>

            <div class="form-group row col-sm-10">
                {{ form.description.label}}<br>
                {{ form.description()}}
            </div>
        
            <div class="form-group row col-sm-10">
                {{ form.location.label }}<br>
                {{ form.location(size=32) }}
            </div>

            <div class="form-group row col-sm-10">
                {{ form.photo() }}
            </div>
            {{ form.submit(class = "btn btn-success") }}
        </form>
        
</div>
<div class="col-sm-3">
</div>
 </div>
 </div>
{% endblock %}
