{% extends "base.html" %}

{% block content %}

<div class = "col-sm-8 offset-sm-2">
        
    <div class = "row">
        <div class = "col-sm-8">
            <h1>Deregister from Events</h1>
            <h6 class="font-weight-light" font-weight: "bold" >You have been deregistered from this event. </h6>
        </div>

        <div class = "col-sm-4"> 
            <br/>
            <a class = "btn btn-primary float-right" href = "/events"> Return </a>
        </div>
    </div>

</div>

{% endblock %}
