{% extends "base.html" %}

{% block content %}

<script src="https://cdn.tiny.cloud/1/s5lhhn2z2vntrgkd60ggye6lkkemcjqs5q2zv52xbix3yfpk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
tinymce.init({
    selector: 'textarea',
    plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
    toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
    toolbar_mode: 'floating',
});
</script>

<div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">

              
    <div class = "row">
        <div class = "col-sm-12">
            <h1>Create a New Event</h1>
            <h6 class="font-weight-light">Fill out the information below. </h6>
        </div>
    </div>
    
    <br/>
          
          {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
        <form action="" method="post" enctype="multipart/form-data" >

            {{ form.hidden_tag() }}

            <div class="form-group row col-sm-10">
                {{ form.name.label }} <br>
                {{ form.name(size=32, class = "form-control") }}
            </div>
            
            <div class="form-group row col-sm-10">
                {{ form.eventDate.label}}<br>
                {{ form.eventDate(class = "form-control")}}
            </div>

            <div class="form-group row col-sm-10">
                {{ form.description.label}}<br>
                {{ form.description(class = "form-control")}}
            </div>
        
            <div class="form-group row col-sm-10">
                {{ form.location.label }}<br>
                {{ form.location(size=32, class = "form-control") }}
            </div>

            <div class="form-group row col-sm-10">
                
                <div class="custom-file">
                    {{ form.photo(class = "custom-file-input") }}
                    <label class="custom-file-label" for="customFile">{{ form.photo.label }}</label>
                </div>

            </div>
            {{ form.submit(class = "btn btn-success") }}
        </form>
        
</div>
<div class="col-sm-3">
</div>
 </div>
 </div>

 <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

{% endblock %}
