{% extends "base.html" %}

{% block content %}
<style> body{background:#fff}  </style>
{%if event_for_student.count != 0 %} 
<div class = "col-sm-8 offset-sm-2">
        
    <div class = "row">
        <div class = "col-sm-8">
            <h1>Register for Events</h1>
            <h6 class="font-weight-light">Here are the events you registered for. </h6>
        </div>

        <div class = "col-sm-4"> 
            <br/>
            <a class = "btn btn-primary float-right" id="return" href = "/events"> Return </a>
        </div>
    </div>

    {%for event in event_for_student%} 

    <div class="col-sm-12">
        <div class="card container">
            <div class = "row">
                <div class="col-sm-10">
                    <br/>
                    <h4> {{event.info.name}} </h4>
                    <p> Location: {{event.info.location}}
                        Time: {{event.info.eventDate}} <br/>
                     </p>
                    <br/>
                </div>

                <div class="col-sm-2">
                    <br/>
                    <div class = btnevent>
                        <a class = "btn btn-sm btn-success" id="deregister" href = "/events/deregister/{{event._id}}"> Deregister from Event </a>
                        </div> 
                    
                </div>
            </div>
        </div>
    </div>
    <br/>

    {%endfor%}



</div>
        
{%else%} 
    
<div class = "col-sm-4 offset-sm-4 text-center">
    <img src="{{ url_for('static', filename='images/events.jpg') }}" width="230" alt="">
    <h1>No Registered Events Found</h1>
    <p>You haven't registered for any events as yet</p>
    <p><a class = "btn btn-success" href="/events"> View Events </a></p>
</div>

{%endif%} 



{% endblock %}
