{% extends "base.html" %}

{% block content %}

<div class = "col-sm-8 offset-sm-2">
        
    <div class = "row">
        <div class = "col-sm-8">
            <h1>View Events</h1>
            <h6 class="font-weight-light">Here is a list of all our events. </h6>
        </div>

        <div class = "col-sm-4"> 
            <br/>
            <a class = "btn btn-primary float-right" href = "/events/add"> Create a New Event </a>
        </div>
    </div>

    {%for i in data%} 

        <div class="col-sm-12 nopadding">
            <div class="card container">
                <div class = "row">
                    <div class="col-sm-10">
                        <br/>
                        <h4> {{i.name}} </h4>
                        <p>Location: {{i.location }} <br/>
                        Time: {{ i.eventDate }} </p>
                        <br/>
                    </div>

                    <div class="col-sm-2">
                        <br/>
                        <a class = "btn btn-sm btn-success" href = "/events/edit/{{i._id}}"> View Event </a>
                    </div>
                </div>
            </div>
        </div>
        <br/>

    {%endfor%}

</div>
           
{% endblock %}
