{% extends "base-login.html" %}

{% block content %}
    
    <div class="col-lg-5">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1>Password Reset</h1>
          <h6 class="font-weight-light">Please enter your new password. </h6>
          
          {% if error: %} 
          <div class="login-error alert alert-danger" role="alert">
            <strong> Oops, something went wrong! </strong><br/>
            {% print error %}  
          </div>
          {% endif %} 

          <form action="" method="post" validate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirmpassword.label }}<br>
                {{ form.confirmpassword() }}<br>
                {% for error in form.confirmpassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
            

        </div>
      </div>

{% endblock %}