{% extends "base-login.html" %}

{% block content %}
    
    <div class="col-lg-5">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1>Forgot Password</h1>
          <h6 class="font-weight-light">Please enter your user identification number and account email. </h6>
          
          
          {% if error: %} 
          <div class="login-error alert alert-danger" role="alert">
            <strong> Oops, something went wrong! </strong><br/>
            {% print error %}  
          </div>
          {% endif %} 

          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.userid.label }}<br>
                {{ form.userid(size=32) }}<br>
                {% for error in form.userid.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            <a href ="/login"> Login </a>
        </form>
            
        </div>
      </div>

    <script>
      $(document).ready(function(){
        $("#loginForm").submit(function(){
          $("#sign_in_load").css("display","inline");
        });
      });
    </script>

{% endblock %}