{% extends "base.html" %}

{% block content %}
   
<div class="col-sm-12 main-card-wrap">
    <a href="/personalInfo"><div class="card container">
        <div class="row main-card">
            
            <div class = "col-sm-8">
                <div class="card-body">
                <img src="{{ url_for('static', filename='images/personal.png') }}" width="30" alt="">
                <h5 class="card-title">Student Information </h5>
                </div>
            </div>

            <div class = "col-sm-12">
                <p class="card-text">View or Update Personal Information. View or Update Emergency Contact Information. View or Add Query.</p>
                <br/>
            </div>
        </div>
    </div></a>
</div>

<div class="col-sm-12 main-card-wrap">
    <a href="/academic-information"> <div class="card container">
        <div class="row main-card">
           
            <div class = "col-sm-8">
                <div class="card-body">
                <img src="{{ url_for('static', filename='images/acainfoicon.png') }}" width="30" alt="">
                <h5 class="card-title"> Academic Infomation </h5>
                </div>
            </div>

            <div class = "col-sm-12">
                <p class="card-text"> Register, View Courses, Academic Records and Financial Information.</p>
                <br/>
            </div>
        </div>
    </div></a>
</div>

<div class="col-sm-12 main-card-wrap">
    <a href="/events"> <div class="card container">
        <div class="row">
            <div class = "col-sm-8">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='images/eventicon.png') }}" width="30" alt="">
                <h5 class="card-title">Event Information </h5>
                </div>
            </div>

            <div class = "col-sm-12">
                <p class="card-text">View, Register and Create New Events.</p>
                <br/>
            </div>
        </div>
    </div></a>
</div>
  
{% endblock %}
