{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col-sm-3"> 
            <h5 class="card-title"> Insurance Status </h5>
                <p><important>Please take notice of your insurance status and update your information accordingly</important></p>
                            <div>
                             <p>Your insurance status is currently listed as: {{ insurancedata.insuranceStatus }}</p>             
                            <p>If there are any discrepancies relating to your insurance please submit a<a class="btn btn-link" href="/querypage" role="button">query.</a></p>
                  </div>  
            </div>
            <div class="col-sm-6">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="card-body"> 
                            <h5 class="card-title"> Update Insurance Details </h5>
                           
                            <div class="form-group">
                                <h5 class="card-title">{{user}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">ID #{{ userId }}</h6>
                                {{ form.studentEmail(value=email) }}
                            </div>
                            <div class="form-group">
                                {{ form.insurancePeriod.label }}<br>
                                {{form.insurancePeriod(value=insurancedata.insurancePeriod)}}
                            </div>
                            <div class="form-group">
                                {{ form.payment.label }} <br>
                                {{ form.payment() }}<br>
                            </div>
                            <p> <button type = "button" class="btn btn-success" data-toggle="modal" data-target="#myModal"> Submit </button> </p>
                                    
                             <!-- The Modal -->
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Are You Sure?</h4>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      Your insurance information is about to be updated, press submit to continue.
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <a type="button" class="btn btn-success" data-dismiss="modal" href="/personalInfo/view">Close</a>
                                      {{ form.submit( class="btn btn-success" ) }}
                                    </div>

                                  </div>
                                </div>
                              </div>
  
                            

                            
                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
   
{% endblock %}
