{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row"> 
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="card-body"> 
                            <h5 class="card-title"> Insurance Details </h5>
                           
                            <div class="form-group">
                                <h5 class="card-title">{{user}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">ID #{{ userId }}</h6>
                                {{ form.studentEmail(value=email) }}
                            </div>
                            <div class="form-group">
                                {{ form.insurancePeriod.label }}<br>
                                {{form.insurancePeriod(value=data.insurancePeriod)}}
                            </div>
                            <div class="form-group">
                                {{ form.payment.label }} <br>
                                {{ form.payment() }}<br>
                            </div>
                            <p> <input type=submit class="btn btn-success" data-toggle="modal" data-target="#modalSuccess"> </p>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="modalSuccessLabel">Success!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <i class="fas fa-check fa-4x mb-3" style="color:green";></i>
                                  <div class="modal-body">
                                    Thank you for updating you insurance information.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" href="/personalInfo/view">Save changes</button>
                                  </div>
                                </div>  
                              </div>
                            </div>
                            
                                    
                   
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
   
{% endblock %}
