{% extends "base-login.html" %}

{% block content %}
    
    <div class="col-lg-5">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1>User Login</h1>
          <h6 class="font-weight-light">Please enter your user identification number and password. 
            If you do not remember your password. Please select the Forgot Password button. </h6>
          
          
          {% if error: %} 
          <div class="login-error alert alert-danger" role="alert">
            <strong> Oops, something went wrong! </strong><br/>
            {% print error %}  
          </div>
          {% endif %} 

          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <a href ="/forgot"> Forgot Password </a>
        </form>
            
        </div>
      </div>

    <script>
      $(document).ready(function(){
        $("#loginForm").submit(function(){
          $("#sign_in_load").css("display","inline");
        });
      });
    </script>

{% endblock %}
