 
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"> </div>
        
        <div class="col-sm-6">
    
            <form action="" method="POST" novalidate>
                    
                {{ form.hidden_tag() }}
                <h4 class="card-title"> Update Infomation </h4>

                <div class="card"><div class="card-body">

                    <h5 class="card-title"> Personal Details </h5>
                            <div class="form-group">
                                {{ form.studentPhoto.label }} <br>
                                {{ form.studentPhoto() }}<br>
                            </div>                 
                    
                    <div class="form-group">
                        <h5 class="card-title">{{user}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ID #{{ userId }}</h6>
                    
                    </div>

                    <div class="form-group">
                        <label>{{ form.dob.label }}</label><br/>
                        {{ form.dob(value=studentData.dob, class = "form-control") }}
                    </div>

                    <div class="form-group">
                    {{ form.gender.label }}<br>
                    {{form.gender(value=studentData.gender) }}
                    </div>

                    <div class="form-group">
                    {{ form.maritalStatus.label }}<br>
                    {{ form.maritalStatus(default=studentData.maritalStatus) }}
                    </div>
                 
                    <div class="form-group">
                    {{ form.passport.label }} <br>
                    {{ form.passport() }}<br>
                    </div>
                    
                    <h5 class="card-title"> Contact Information </h5>

                    <div class="form-group">
                        <label>{{ form.studentAddress.label }}</label> <br/>
                        {{ form.studentAddress(value=studentData.studentAddress, class = "form-control") }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.mobilenum.label }}</label> <br/>
                        {{ form.mobilenum(value=studentData.mobilenum, class = "form-control") }}
                    </div>

                    <h5 class="card-title"> Emergency Contact Information </h5>

                    <div class="form-group">
                        <label>{{ form.emergencyCon.label }}</label> <br/>
                        {{ form.emergencyCon(value=studentData.emergencyCon, class = "form-control") }}
                    </div>

                    <div class="form-group">
                        <label>{{ form.relationship.label }}</label> <br/>
                        {{ form.relationship(value=studentData.relationship)}}
                    </div>

                    <div class="form-group">
                        <label for="ecNumber">{{ form.ecNumber.label }} </label> <br/>
                        {{ form.ecNumber(value=studentData.ecNumber, class = "form-control") }}
                    </div>

                    <!-- <button type="button" class="btn btn-outline-success">{{ form.submit }}</button> -->

                    <p>{{ form.submit( class="btn btn-success" ) }}</p>
                    <p><a type="button" class="btn btn-dark" href="/personalInfo/view" >Cancel</a></p>
                </div></div>
            </form>

        </div>
                
        <div class="col-sm-3">

            <h5> Personal Registration Info </h5>
            <p><a href = "/registration/status"> My Registration Status </a></p>

            <h5> Upcoming Course Today </h5>

            <p> Advanced Database <br/>
                9:00 AM - 11:30 AM <br/>
                Dr. Mugisa </p>

            <h5> Quick Links </h5>
            
            <ul class = "quicklinks">
                {% for links in QuickLinks %}
                    <li><a href = "{{links.location}}">{{links.location}} {{links.activty}}</a></li>
                {% endfor %}
            </ul>
         
        </div>
    </div>
</div>
{% endblock %}
