{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h5 class="card-title"> Identification and Personal Details</h5>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.studentId(value=userId) }}
                {{ form.studentName(value=user) }}
                {{ form.studentEmail(value=email) }}
            
                <h5 class="card-title"> Query Details</h5>
                <div class="form-group row col-sm-10">
                    <h6 class="card-title">{{ form.yearOfStudy.label }}</h6><br>
                    {{form.yearOfStudy}}
                </div>

                <div class="form-group row col-sm-10">
                    {{ form.semester.label }}<br>
                    {{form.semester}}
                </div>
                <h6 class="card-title"> Please select the option that applies to your query.</h6>
                <div class="form-group row col-sm-10">
                    {{ form.studentIssues.label }}<br>
                    {{form.studentIssues}}
                </div>

                <div class="form-group row col-sm-10">
                    {{ form.queryDesc.label }}<br><br>
                    {{ form.queryDesc(size=300) }}
                </div>
                <p>{{ form.submit( class = "btn btn-primary btn-sm"  ) }}</p>
            </form>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" href="queryhistory.html"></a>
            <h5> Query History </h5>
            </a>

            <table class="table table-bordered">
                <thead>
                    <tr class="table-success">
                        <th scope="col"> Issue</th>
                        <th scope="col"> Description</th>
                    </tr>
                </thead>
                <tbody>
                {%for i in data%} 
                    <tr>
                        <th scope="row">{{ i.studentIssues }} </th>
                        <td>{{ i.queryDesc }} </td>
                    </tr>
                {%endfor%}

                </tbody>


            </table>



        

        </div>
        </div>
    </div>
   
{% endblock %}