{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
               <h5 class="card-title"> Identification and Personal Details</h5> 
                <div class="card"><div class="card-body">
                
                {{ form.studentId(value=userId) }}
                {{ form.studentName(value=user) }}
                {{ form.studentEmail(value=email) }}
            
                <h5 class="card-title"> Query Details</h5>
                <div class="form-group">
                    <h6 class="card-title">{{ form.yearOfStudy.label }}</h6>
                    {{form.yearOfStudy}}
                </div>

                <div class="form-group">
                    <h6 class="card-title">{{ form.semester.label }}</h6>
                    {{form.semester}}
                </div>
                <h6 class="card-title"> Please select the option that applies to your query.</h6>
                <div class="form-group">
                    <h6 class="card-title">{{ form.studentIssues.label }}</h6>
                    {{form.studentIssues}}
                </div>

                <div class="form-group">
                    <h6 class="card-title">{{ form.queryDesc.label }}</h6><br><br>
                    {{ form.queryDesc(size=300) }}
                </div>
                <p>{{ form.submit( class = "btn btn-primary btn-sm"  ) }}</p>
                </div></div>
            </form>
        </div>
        <div class="col-sm-3">
            <h6 class="card-title"> Query History </h6> <a href"http://uwiciitonline.azurewebsites.net/query-history/"> <button type="button" class="btn btn-outline-success">View All</button></a>

            <table class="table table-bordered">
                <thead>
                    <tr class="table-success">
                        <th scope="col"> Issue</th>
                        <th scope="col"> Description</th>
                    </tr>
                </thead>
                <tbody>
                {%for i in data%} 
                    <tr>
                        <th scope="row">{{ i.studentIssues }} </th>
                        <td>{{ i.queryDesc }} </td>
                    </tr>
                {%endfor%}

                </tbody>
            </table>
        </div>
        </div>
    </div>
   
{% endblock %}
