{% extends "base.html" %}

{% block content %}
	
<div class="container">

    <div class="row">
       

	<table class="table table-hover">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Monday</th>
			<th scope="col">Tuesday</th>
			<th scope="col">Wednesday</th>
			<th scope="col">Thursday</th>
			<th scope="col">Friday</th>
		  </tr>
		</thead>
		<tbody>
		  

	<tr>
		<th scope="row">9:00</th>
		<td>{{Monday}}</td>
		<td>{{Tuesday}}</td>
		<td>{{Wednesday}}</td>
		<td>{{Thursday}}</td>
		<td>{{Friday}}</td>
	</tr>

	</tbody>
  </table>

	
</div> 

</div>

{% endblock %}