 
{% extends "base.html" %}
{% block content %}


<div class="container">

    <div class="row">

        <div class="col-sm-3"> </div>

        <div class="col-sm-6">
        <h4 class="card-title"> Personal Information </h4>
        <div class="card"><div class="card-body">
                        <h5 class="card-title">{{user}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ID #{{ userId }}</h6>

                            {%for i in data%} 

                            <div>
                             <p> Date of Birth: {{ i.dob }} <br>
                             Gender: {{ i.gender }} <br>
                             Marital Status: {{ i.maritalStatus }}
                             </p>
                            </div>

                            <div>
                             <h5 class="card-title"> Contact Information </h5>
                             <p> Address: {{ i.studentAddress }} <br>
                             Phone Number: {{ i.mobileNumber }}</p>
                            </div>

                            <div>
                             <h5 class="card-title"> Emergency Contact Information</h5>
                             <p> Emergency Contact: {{ i.emergencyCon }} <br>
                             Relationship: {{ i.relationship }} <br>
                             Contact Number: {{ i.ecNumber }}
                             </p>
                            </div>  

                    <div>
                        <br/>
                        <a class = "btn btn-success btn-lg btn-block" href = "/personalInfo/update"> Update Details </a>
                    </div>

                        {%endfor%}  
        </div></div>

       </div>

        <div class="col-sm-3">

            <h5> Personal Registration Info </h5>
            <p><a href = "/registration/status"> My Registration Status </a></p>

            <h5> Upcoming Course Today </h5>

            <p> Advanced Database <br/>
                9:00 AM - 11:30 AM <br/>
                Dr. Mugisa </p>

            <h5> Quick Links </h5>
            
            <ul>
                {% for links in QuickLinks %}
                    <li><a>{{links.title}}</a></li>
                {% endfor %}
            </ul>
         
         
         <!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
 Update Insurance Details
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This feature only applies to 3rd and 4th year students studying in China</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="/personalInfo/insurance" >Update Insurance Details</a>
      </div>
    </div>
  </div>
</div>

        </div>



    </div>

</div>


             

                
{% endblock %}
